{% extends "EdelfeltApp/base.html" %}
{% load staticfiles %}
{% block pre_title %}Albert Edelfelt{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Albert Edelfelt</h3>
        </div>
        <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <h4>Albert Edelfelt och hans familj</h4>
                <p>
                    <b>Albert Gustaf Aristide Edelfelt</b> föddes 1854 på Kiala gård utanför Borgå. Hans far <b>Carl Albert Edelfelt </b>(1818−1869) var länsarkitekt i Tavastehus län och senare överarkitekt vid överstyrelsen för allmänna byggnader. Han kom från en svensk adelssläkt som hade nobiliserats på 1600-talet, men som på 1800-talet inte kunde njuta av några stora tillgångar eller egendomar som skulle ha tryggat den unge Carl Albert Edelfelts framtid. Därför sände hans mor Johanna Edelfelt sin 14-årige son till Finland, till sin bror Erik Albert Benzelstierna. Carl Albert Edelfelt uppfostrades av morbrodern och studerade till arkitekt i Finland.
                </p>

                <p>
                    Albert Edelfelts mor <b>Alexandra Edelfelt</b> (1833−1901) var dotter till en förmögen köpman och skeppsredare i Borgå, Gustaf Brandt. Genom äktenskapet med fröken Brandt kom A.G. Edelfelt inte bara att få tillgång till ett ekonomiskt kapital som användes bl.a. till bildningsresor och bokanskaffningar. Alexandra Brandt förde också med sig ett kulturellt kapital. Fröken Brandts hem, Kiala gård som tillhörde Alexandra Edelfelts mor Augusta Brandt (1803−1862), var centrum för ett rikt sällskapsliv och Alexandra Edelfelt beskrevs som en klok, varm och bildad människa. Föräldrarna gifte sig på Kiala gård 1852.
                </p>

                <p>
                    Förutom äldsta sonen Albert föddes tre flickor: <b>Ellen Augusta Johanna</b> (1859−1876), <b>Alexandra (Annie) Elisabet Adelaide</b> (1866−1934) och <b>Berta Carolina </b>(1869−1934). Äldsta systern avled i tonåren. De yngre systrarna levde till 1934 och förvaltade arvet efter brodern tillsammans med hans änka <b>Ellan Edelfelt (Anna Elise de la Chapelle, 1908 gift von Born).</b> Ellan och Albert Edelfelt gifte sig år 1887. Deras son Erik Edelfelt, kallad Kicki, föddes 1888 och avled fem år efter sin far, år 1910.
                </p>
                <p>
                    Mera om Albert Edelfelt i <a href="http://www.sls.fi/blf/artikel.php?id=3217">Biografiskt lexikon för Finland</a>
                </p>

                <p>
                    Läs Rainer Knapas och Maria Vainio-Kurtakkos texter i boken <i>Albert Edelfelt och Ryssland</i> (2004) <a href="{% static 'EdelfeltApp/Edelfelt_och_Ryssland.pdf' %}">här</a>.
                </p>
            </div>
        </div>
        </div>
{% endblock %}