{% extends "EdelfeltApp/base.html" %}
{% block pre_title %}Bertel Hintze{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Bertel Hintze och hans register över Edelfelts konst</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <h4>Bertel Hintze (1901–1969)</h4>
                    <p>
                        Bertel Hintze var konsthistoriker och konstkritiker. Hans huvudarbete, en omfattande undersökning om Albert Edelfelt, utkom på svenska i tre band under åren 1942–44. Den sista delen var ett verkregister med information om konstverken, mått, signering, när verken har tillkommit, på uppdrag av vem, eventuella bevarade skisser, ägare, utställningar, samt i vilka tidningsartiklar och brev konstverken nämns.
                    </p>
                    <p>
                        Hintze hade studerat konsthistoria vid Helsingfors universitet för professor J. J. Tikkanen. Hans konsthistoriska forskning gällde främst 1800-talets konst och konstnärer. Hintzes doktorsavhandling (1926) handlade om historiemålaren R.W. Ekman och han skrev också en biografi över dennes elev, den åländska konstnären K.E. Jansson (1926). År 1966 utkom dessutom en bok om 1900-talskonstnären Gösta Diehl.
                    </p>
                    <p>
                        År 1924 utnämndes Hintze till amanuens vid Ateneums konstmuseum där han ansvarade för museets samling av skisser och teckningar. Det var en halvtidstjänst och gav tid också för arbetet med doktorsavhandlingen. År 1927 utgav Hintze en bok om Helsingfors universitets porträttsamling, och 1928 och 1930 utkom verket Modern konst i två band som presenterade den moderna konsten på ett vidlyftigt sätt.
                    </p>
                    <p>
                        År 1928 blev Bertel Hintze intendent för den nygrundade Konsthallen i Helsingfors där han verkade i fyrtio år mellan 1928 och 1968.
                    </p>
                    <p>
                        Hintzes stora verk om Albert Edelfelt tillkom under krigsåren, men arbetet hade inletts långt tidigare. Redan under studieåren hade Hintze visionerat en bok om Edelfelt och under tiden som amanuens på Ateneum samlade han material till den planerade biografin. Albert Edelfelts änka Ellan von Born (f. de la Chapelle) hade nämligen donerat en stor samling av makens skisser och teckningar till Ateneum. Genom sina studier av de här skisserna och teckningarna fick Hintze en annan bild av konstnären Edelfelt än den traditionella bilden som förmedlades av paradkonstverken. Han såg Edelfelt som de intima skissernas och studiernas mästare.
                    </p>
                    <p>
                        Albert Edelfelts systrar Berta och Annie Edelfelt gav inte Hintze, eller någon annan, tillfälle att läsa de brev som brodern hade skrivit till familjen, men en del av breven hade Berta gett ut i fem urvalsutgåvor 1917–1930. Om dessa konstaterade Hintze i förordet till första upplagan av biografin: ”Författaren var från första början medveten om att dessa brevböcker ej motsvara den allsidiga och objektiva skildring av Edelfelts levnad, som redan alltför länge saknats i vår konsthistoriska litteratur”. Han försökte komplettera bilden på annan väg.
                    </p>
                    För att nå ”den sanna bilden av mannen bakom verket” intervjuade Hintze också Berta och Annie Edelfelt samt andra gamla vänner till Albert Edelfelt, bl.a. Ville Vallgren. Han fick också ta del av brevsamlingar som inte var allmänt tillgängliga för forskningen.
                    <p>
                        Hintze beskrev ytterligare som sin uttalade uppgift att spåra de många konstverk som Edelfelt hade sålt till utländska konsthandlare och som inte var bekanta i Finland. Detta, och det faktum att Edelfelts konst på ett tidigt stadium var utsatt för många förfalskningar, ledde Hintze till att göra upp det konstverksregister som har varit så viktigt för senare generationer av forskare.
                    </p>
                    <p>
                        På svenska utkom Hintzes arbete 1942–1944, och en andra upplaga 1949, på finska utkom det i ett band 1953. Verkregistret har varit en grundpelare för den senare Edelfeltforskningen som blev särskilt intensiv efter att de av Berta och Annie Edelfelt till Svenska litteratursällskapet i Finland donerade breven från Albert Edelfelt till modern blev tillgängliga för forskare och andra intresserade år 1985, sexton år efter Bertel Hintzes död.
                    </p>
                    <p>
                        I den här elektroniska brev- och konstutgåvan ligger Hintzes verkregister som grund för den verktabell som har upprättats. Alla verk som förekommer i Hintzes register har här samma verknummer som hos Hintze.
                    </p>
                    <p>
                        Bertel Hintze, <i>Albert Edelfelt</i> 1−3, Helsingfors: Söderström 1942−1944
                    </p>
                    <p>
                        Bertel Hintze, <i>Albert Edelfelt</i>, suomentaneet Helka Varho ja Eino Palola, luettelo-osan Aune Lindström, Helsinki: WSOY 1953
                    </p>


                    <h4>Läs om Bertel Hintze på webben</h4>
                    <p><a href="http://www.uppslagsverket.fi/bin/view/Uppslagsverket/HintzeBertel">Uppslagsverket finland</a></p>
                    <p><a href="http://www.kansallisbiografia.fi/kb/artikkeli/1366/">
                        Erik Kruskopf artikel om Bertel Hintze i Kansallisbiografia, Studia Biografica 4, Helsinki: Suomalaisen Kirjallisuuden Seura, 1997–</a>, URN:NBN:fi-fe20051410,<br>
                         ISSN 1799-4349 (Verkkojulkaisu)</p>
                    </a>

                    <h4>Övrig litteratur</h4>
                    <p>Erik Kruskopf, <i>En konstens världsman: Bertel Hintze 1901–1969</i>, Skrifter utgivna av Svenska litteratursällskapet i Finland 611, Helsingfors 1998 / <i>Taiteen maailmanmies: Bertel Hintze 1901–1969</i>, Helsinki: Valtion taidemuseo 1998.</p>
                </div></div>
        </div>
    </div>
{% endblock %}