{% extends "EdelfeltApp/base.html" %}
{% block pre_title %}Brevsamlingen{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Brevsamlingen</h3>
        </div>
        <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <p>
I webbutgåvan <i>Albert Edelfelts brev</i> publiceras för första gången hela Edelfelts bevarade korrespondens med sin mor Alexandra Edelfelt. Det är 1310 brev som omfattar sammanlagt ca 7000 sidor. Brevsamlingen har digitaliserats under 2010−2011 och kommer att kunna läsas här i sin helhet. De första årgångarna har lagts ut i september 2014 och kompletteras an efter under de kommande åren. Syftet med utgåvan är att göra breven tillgängliga för forskare inom olika discipliner, för museer, undervisning och den intresserade allmänheten.                </p>

                <p>
                    Alla brev som Albert Edelfelt skrev till modern och systrarna har inte bevarats. En del brev har antagligen förstörts av Berta Edelfelt som under 1917−1930 gav ut ett urval av breven i fem volymer. Breven i Berta Edelfelts brevutgåvor var i hög grad valda så att de skulle belysa Albert Edelfelts konst och konstnärskap. Systern var mån om sin brors eftermäle som stor konstnär och en del av de personer som Edelfelt skrev om var fortfarande i liv när brevutgåvorna publicerades. Med en större distans till Albert Edelfelts samtid, och ett större intresse för historiskt källmaterial som skildrar det vardagliga och privata är det nu av intresse att få ta del av hela den bevarade brevsamlingen.
                </p>

                <p>
                    Två omfattande brevutgåvor har getts ut efter Berta Edelfelts fem böcker. Ett kronologiskt och kommenterat urval av Albert Edelfelts brev till Alexandra Edelfelt i översättning till finska utkom 2001, utgivna av konsthistorikern Anna Kortelainen: <i>Niin kutsuttu sydämeni. Albert Edelfeltin kirjeet äidilleen 1873−1901</i> (Helsinki: Otava 2001, 847 s.). I boken finns 232 brev översatta till finska av författaren Sirpa Kähkönen. Tre år senare utkom ett annat brevurval på svenska i boken <i>Albert Edelfelt och Ryssland. Brev från åren 1875−1905</i> (Helsingfors: Svenska litteratursällskapet i Finland & Stockholm: Bokförlaget Atlantis 2004, 486 s.), utgivna och kommenterade av konst- och kulturhistorikerna Rainer Knapas och Maria Vainio (Vainio-Kurtakko). I den utgåvan samlades alla brev som Edelfelt skrev i Ryssland samt brev och brevfragment i vilka Edelfelt skrev om konstbeställningar och personer i Ryssland.
                </p>

                <p>
        I breven till modern och systrarna skrev Albert Edelfelt om sitt arbete och sin vardag. Han berättade om beställningar och beställare, om planer som aldrig genomfördes och om konstverk som blev till. Arbetsprocessens olika skeden är närvarande i breven och i den här webbutgåvan kan man titta på både breven och en stor samling av konst och skisser från Nationalgalleriet (Ateneum).                 </p>

                <p>
Edelfelt skrev också mycket om människorna – om beställarna, konstnärskollegorna, kulturetablissemanget och sällskapslivet på de orter där han befann sig. 1800-talets stora teman – den moderna vetenskapen och tekniken, kvinnosaken, det urbana livet, konsumtionen, folket och ”folktyper”, tidens politiska idéer, konflikter och begrepp – är också ständigt närvarande i breven. Edelfelt tog inte tydligt ställning för tidens konstriktningar, han diskuterade inte konstens olika ”-ismer” med sin mor, men breven belyser frågor om konstnärens utbildning, arbetsmetoder, ateljépraktiker, karriärplanering och ekonomi under det sena 1800-talet.                 </p>

                <p>
                    Breven är levande, innehållsrika och ofta riktigt underhållande. Läsaren ska ändå minnas att breven i den här webbutgåvan är skrivna av en son till hans mor och systrar. Vissa ämnen behandlade Edelfelt inte i korrespondensen, men å andra sidan var han kanske på vissa punkter mera omedelbar och direkt då han skrev till familjen.
                </p>
                <p>
                    Njut och håll till godo. Albert Edelfelt är en rolig, underhållande brevskrivare!
                </p>
            </div>
        </div>
        </div>
        </div>
{% endblock %}