{% extends "EdelfeltApp/base.html" %}
{% block pre_title %}Redaktion{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Redaktion</h3>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-8">
                    <h4>Huvudredaktörer:</h4>
                    <p>
                    Fil.dr Maria Vainio-Kurtakko <br>
                    Docent Henrika Tandefelt<br>
                    Fil.dr Elisabeth Stubb
                    </p>
                    <h4>Databas- och webbutveckling:</h4>
                    <p>
                        Planerare Johan Kylander<br>
                        Informationssystemchef Dennis Stolt<br>
                    </p>
                    <h4>Digitalisering:</h4>
                    <p>
                        Koordinator Tove Ørsted<br>
                        Textdigitaliserare Tuuli Toivola<br>
                    </p>
                    <h4>Externa samarbetspartner:</h4>
                    <p>Jukka Välimaa, Webbutveckling<br>
                    <a href="http://genero.fi/">Genero</a>, Grafisk design </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
