{% extends "EdelfeltApp/base.html" %}
{% block pre_title %}Webbutgåvan{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Webbutgåvan</h3>
        </div>
        <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <p>
                    Breven i webbutgåvan står att läsa i form av <strong>digitaliserade originalbrev</strong>. I samband med varje brev ges referat av brevets innehåll. Med hjälp av referaten kan du få en överblick över innehållet och kan snabbt kontrollera om brevet innehåller något om teman som du är intresserad av.
                </p>

                <p>
                    Referaten ska inte sammanblandas med citat. Då det handlar om direkta citat är detta markerat med citationstecken. Referaten sammanfattar innehållet på ett kortfattat sätt. För att få mera detaljer ska du gå vidare till det egentliga brevet. Edelfelts handstil är relativt tydlig och klar, och han skriver sällan i marginalerna. Breven kan också förstoras för ökad läsbarhet.
                </p>

                <p>
                    <strong>Brevreferaten</strong> presenteras i flera referatrutor. För varje sak och tema som Edelfelt tar upp i ett brev finns en referatruta med en kort beskrivning av vad det är frågan om. Rutorna följer den ordning som Edelfelt har följt i sina brev så att när han i brevet övergår till ett nytt ämne följer en ny ruta. Till de enskilda rutorna har vi länkat information om de konstverk, personer och platser som behandlas. Det går att göra sökningar med hjälp av en konstverkstabell, persontabell och platstabell. Dessutom har varje brev getts sökord som kommer från ALLÄRS – Allmän tesaurus på svenska. Du kan också göra fria sökningar på valfria ord för att se om de förekommer i de redaktionella referaten. Gå till ”Sök i materialet” under ”Breven” för att göra sökningar.
                </p>

                <p>
                    <strong>Konstverkstabellen</strong> utgår från och vidareutvecklar det konstverksregister som konsthistorikern Bertel Hintze publicerade 1944 och senare på finska 1953.
                </p>

                <p>
                    Alla verk som förekommer i Hintzes register har i konstverkstabellen försetts med samma nummer som i registret. Hintzes beskrivningar av verken, och hans information om när och var de har varit utställda, ingår också i tabellen. Därutöver innehåller tabellen Edelfelts egna ord eller beskrivning av verken samt fil. dr Maria Vainio-Kurtakkos kommentarer som bygger på informationen i breven till modern som Bertel Hintze inte hade tillgång till då han arbetade med registret.
                </p>

                <p>
                    Utöver de av Bertel Hintze identifierade verken innehåller tabellen också ett antal arbeten som Edelfelt planerade men aldrig utförde, och verk som verkligen blev av och omnämns i breven, men som Bertel Hintze inte kände till. Alla illustrationer i breven har också införts i konstverkstabellen.
                </p>

                <p>
                    I webbutgåvan ingår också bilder av Edelfelts konstverk. Det är resultatet av ett samarbete mellan SLS och Nationalgalleriet och dess bildarkiv. Det handlar om både färdiga verk och skisser av olika slag. På Nationalgalleriet finns alla Edelfelts skissböcker. Inom ramen för arbetet med utgåvan identifieras så många skisser som möjligt och de länkas till rätt konstverk. Målet är att erbjuda en aldrig förut skådad rekonstruktion av Edelfelts konstnärskap, både i text och i bild. I framtiden kommer bilder av konstverk och skisser i andra arkiv och museisamlingar att komplettera webbutgåvan.
                </p>

                <p>
                    <strong>Persontabellen</strong> består av alla personer som Albert Edelfelt nämner i breven till modern Alexandra Edelfelt och systrarna. De flesta är identifierade och har getts levnadsår samt titlar eller andra beskrivningar av vilka de var. Dessutom kan du vid varje identifierad person gå vidare och läsa mera tack vare länkningar till andra digitala resurser på Webben, som t.ex. Biografiskt lexikon för Finland, Suomen Kansallisbiografia, Svenskt biografiskt lexikon, Dansk biografisk leksikon, Store norske leksikon, Nationalencyklopedin, Wikipedia med mera.
                </p>

                <p>
                    Edelfelt hade ett stort kontaktnät och skildrade ofta situationer och personer i breven. I hans brev vimlar det av särskilt finländska, nordiska och franska konstnärer, liksom av författare och andra kulturpersoner. Ryska kejsarfamiljen samt ryska furstar och furstinnor dyker upp i korrespondensen lika väl som franska aristokrater och politiker, svenska löjtnanter, friherrinnor och grosshandlare, amerikanska societetsskönheter, finländska bekantskaper av olika slag. Också konsthandlarna, gravörerna, recensenterna och andra förmedlare av Edelfelts konst har en framträdande plats. De var viktiga för konstnären som ville få genomslag för sitt arbete. Edelfelt skrev också om sina modeller, både i den nyländska skärgården och i sällskapslivet.
                </p>
                <p>
                    Förutom sina <strong>samtida</strong> skrev Edelfelt också om <strong>historiska personer</strong> och om <strong>fiktiva, mytologiska och bibliska gestalter</strong>.
                </p>

                <p>
                    I boken <i>Albert Edelfelt och Ryssland. Brev från åren 1875−1905</i> (2004) har Nora Ervalahti, Laura Mattsson, Rainer Knapas och Maria Vainio-Kurtakko identifierat människorna som förekommer i de ryska breven. Denna personförteckning ligger till grunden för den persontabell som har skapats för denna elektroniska utgåva. Här har persontabellen kompletterats med flera samtida personer samt historiska och fiktiva gestalter.
                </p>

                <p>
                    Anna Kortelainen har också i <i>Niin kutsuttu sydämeni. Albert Edelfeltin kirjeet äidilleen 1873−1901</i> (2001) identifierat personer som omnämns i breven.
                </p>

                <p>
                    <strong>Platstabellen</strong> består av de orter och platser som Albert Edelfelt skrev om till modern samt de platser där breven är daterade. Han skrev om platserna han besökte, men också om hemlandet, Amerika, krigsskådeplatser i Asien etc. Platser förekommer alltså både som verkliga platser som konstnären besöker eller där det sker något aktuellt, och som platser i en mental geografi eller mentala representationer av idéer, föreställningar och fördomar. Det går bra att göra sökningar på platser och orter som fri sökning, eller att titta på den platstabell som har gjorts upp.
                </p>
            </div>
        </div>
        </div>
{% endblock %}